/* css styles */

#im-logo {
  height: 6cm;
  width: 6cm;
  display: block;
  margin: auto;
}

@media only screen and (min-width: 600px) {
  #im-logo {
    float: right;
    display: inline;
    margin-left:30px;
  }
}

.quarto-figure-right {
  float: right;
}

/* #book img {
  float: right;
} */

